[Desktop Entry]
Categories=Utility;
Comment=Run the Inquiry Template script
Exec="@HOME@/.scripts/inquiry_template.sh"
Icon=onlyoffice-desktopeditors
Name=Inquiry Template
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
