[Desktop Entry]
Categories=Network;WebBrowser;
Comment=Search across multiple engines with a single query
Exec="@HOME@/.scripts/rsearch.sh"
GenericName=Multi-engine Search Tool
Icon=system-search
Keywords=search;engine;web;query;rofi;
Name=rsearch
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
X-Created-By=yurisuki
X-KDE-SubstituteUID=false
