[Desktop Entry]
Name=rsearch
GenericName=Multi-engine Search Tool
Comment=Search across multiple engines with a single query
Exec=$HOME/.scripts/rsearch.sh
Icon=system-search
Terminal=false
Type=Application
Categories=Network;WebBrowser;Utility;
Keywords=search;engine;web;query;rofi;
X-Created-By=yurisuki
