[Desktop Entry]
Categories=Utility;
Comment=Template management tool using rofi
Exec="@HOME@/.scripts/rtemplate.sh"
GenericName=Template Management tool
Icon=accessories-text-editor
Keywords=template;clipboard;text;rofi;
Name=rtemplate
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
X-Created-By=yurisuki
X-KDE-SubstituteUID=false
