[Desktop Entry]
Categories=Utility;Application;
Comment=Template management tool using rofi
Exec=~/.scripts/rtemplate.sh
GenericName=Template Management tool
Icon=accessories-text-editor
Keywords=template;clipboard;text;rofi;
Name=rtemplate
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-Created-By=yurisuki
X-KDE-SubstituteUID=false
X-KDE-Username=
