[Desktop Entry]
Categories=Office;Finance;
Comment=Stock search tool for Ralakde
Exec="@HOME@/.scripts/search-stock.sh"
Icon=baloo
Keywords=stock;search;inventory;ralakde;
Name=Stock Search Tool
NoDisplay=false
StartupNotify=true
StartupWMClass=search_stock
Terminal=false
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
