[Desktop Entry]
Name=superfile
GenericName=Terminal File Manager
Comment=Open directories in superfile
Exec=kitty --hold --title superfile -e /home/adamn/.local/bin/superfile-open %U
TryExec=spf
Terminal=false
Type=Application
MimeType=inode/directory;
Categories=System;FileManager;
